html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  /* min-height: calc(100vh - 35px); */
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 91, 188, 1) 32%,
    rgba(252, 250, 69, 1) 100%
  );
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.gradient a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.flag-img {
  display: inline-block;
  width: 40px;
  height: 25px;
}

.head_title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #005bbc;
  margin-top: 30px;
  margin-bottom: 25px;
}
.blocks {
  position: relative;
  padding-bottom: 30px;
  min-height: 300px;
  /* margin-top: 40px; */
}
.action_descr {
  text-align: center;
  font-size: 21px;
  color: #7e959c;
}

.action_descr::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 65%;
  border-top: 2px solid #738085;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 175px;
  padding: 55px 40px;
}

.left_block,
.right_block {
  width: 100%;
  min-height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  box-shadow: 1px 1px 9px -1px #777;
  border: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  color: #fff;
  padding: 11px 20px;
  /* min-width: 50px; */
}

.btn:hover {
  transform: scale(1.08);
  transition: all 0.5s ease;
}

.submit_btn {
  position: relative;
  background-color: #738085;
  font-size: 18px;
  border: none;
}

.submit_btn:active,
.copy_btn:active {
  transform: scale(1.05);
}

.button--loading {
  width: 160px;
  height: 43px;
  background-color: #738085;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease normal;
  transition: all 0.5s ease;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.copy_btn {
  /* position: absolute; */
  right: 25%;
  top: 68px;
  background-color: #99b4bd;
  border: none;
  font-size: 14px;
}

.footer {
  position: relative;
  bottom: 0;
  min-height: 30px;
  width: 100%;
}

.footer::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 65%;
  border-top: 2px solid #738085;
}

.footer_descr {
  text-align: center;
  color: #738085;
  padding: 20px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: #99b4bd;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: -30%;
  z-index: 1;
  visibility: hidden;
}
